/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #bdbdbd;

  mat-form-field {
    width: 100%;
  }

  .label-title {
    display: block;
    margin-bottom: 1em;
    font-size: 1.4em;
  }
}
